streamlit==1.28.1
python-dotenv==1.0.0
pyngrok==7.0.1
scikit-learn
numpy
pandas
matplotlib
scipy
seaborn
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
mdurl
packaging
pillow
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
six
smmap
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wheel
zipp